<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      h1 {
        color: #333;
      }
      .field {
        margin-bottom: 10px;
      }
      .image {
        margin: 20px 0;
      }
    </style>
  </head>
  <body>
    <h1>{{ project.title }}</h1>
    <p class="field"><strong>Description:</strong> {{ project.description }}</p>
    <p class="field"><strong>Start Date:</strong> {{ project.start_date }}</p>
    <p class="field"><strong>End Date:</strong> {{ project.end_date }}</p>
    <p class="field"><strong>Priority:</strong> {{ project.priority }}</p>
    <p class="field"><strong>Category:</strong> {{ project.category }}</p>
    <p class="field"><strong>Status:</strong> {{ project.status }}</p>

    {% comment %} {% for image in project.images.all %}
    <div class="image">
      <img src="{{ image.url }}" alt="Image" width="300" />
    </div>
    {% endfor %} {% endcomment %}
  </body>
</html>
